<meta content='#500' name='theme-color'>
<meta content='#500' name='msapplication-navbutton-color'>
<meta content='#500' name='apple-mobile-web-app-status-bar-style'>
<link href='//fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href="{{ '/assets/css/flexboxgrid.min.css?v=' | append: site.github.build_revision | relative_url }}">
<link rel='stylesheet' href="{{ '/assets/css/style2.css?v=' | append: site.github.build_revision | relative_url }}">
{% include drift.html %}
